.yeah{
    background-color: #e8bf4d;
    color: white;
    
}
.yeah2{
    color: #cd8f31;
}
.yeah3{
    color:  #cd8f31;
}
.yeah4{
    background-color: blanchedalmond;
}
.footer{
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(205,143,49,1) 30%, rgba(232,191,77,1) 87%);
}